# Source: https://serverfault.com/questions/876233/how-to-send-an-email-if-a-systemd-service-is-restarted
# Source: https://wiki.archlinux.org/index.php/Systemd/Timers#MAILTO
#
# NOTE: Set SYSTEMD_EMAIL environment variable in /etc/restic/env.sh
# or the default admin@example.com will be used

[Unit]
Description=Send status email for %i to user

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/systemd-email-wrapper.sh %i
User=root
Group=systemd-journal
